<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore>
        <pipelines>
            <group groupName="layoutService">
                <pipelines>
                    <getFieldSerializer performanceCritical="true">
                        <processor type="SitecoreHackathon2021.Pipelines.GetFieldSerializer.GetInternalLinkFieldSerializer, SitecoreHackathon2021" resolve="true"
                                   patch:instead="*[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetInternalLinkFieldSerializer, Sitecore.LayoutService']">
                            <FieldTypes hint="list">
                                <fieldType id="1">droplink</fieldType>
                                <fieldType id="2">droptree</fieldType>
                                <fieldType id="3">grouped droplink</fieldType>
                            </FieldTypes>
                        </processor>
                        <processor type="SitecoreHackathon2021.Pipelines.GetFieldSerializerGetMultilistFieldSerializer, SitecoreHackathon2021" resolve="true"
                                    patch:instead="*[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetMultilistFieldSerializer, Sitecore.LayoutService']">
                            <FieldTypes hint="list">
                                <fieldType id="1">checklist</fieldType>
                                <fieldType id="2">multilist</fieldType>
                                <fieldType id="3">multilist with search</fieldType>
                                <fieldType id="4">treelist</fieldType>
                                <fieldType id="5">treelist with search</fieldType>
                                <fieldType id="6">treelistex</fieldType>
                            </FieldTypes>
                        </processor>
                    </getFieldSerializer>
                </pipelines>
            </group>
        </pipelines>
    </sitecore>
</configuration>