<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <settings>
            <setting name="UnorderedListControl.NumberOfItemsToShowFromStart" value="5"/>
        </settings>
        <controlSources>
            <source assembly="SitecoreHackathon2021" namespace="SitecoreHackathon2021.HtmlControls" prefix="html" mode="on"/>
        </controlSources>
    </sitecore>
</configuration>
